.verde {
    background-color: #00FF00;
    color: rgb(0, 0, 0);
}

.amareloEsverdeado {
    background-color: #80FF00;
    color: rgb(0, 0, 0);
}

.amarelo {
    background-color: #FFFF00;
    color: rgb(0, 0, 0);
}

.laranja {
    background-color: #FF8000;
    color: rgb(0, 0, 0);
}

.laranjaAvermelhado {
    background-color: #FF4000;
    color: rgb(0, 0, 0);
}

.vermelho {
    background-color: #FF0000;
    color: rgb(0, 0, 0);
}
